.navElements {
  display: flex;
  gap: 1rem;
  justify-content: end;

  margin: 1rem 8rem auto auto;

  font-weight: bold;

  text-decoration: none;
  list-style: none;
}

.navElements li {
  color: #2460c1;
}

.navElements li:hover {
  background-color: rgb(255, 255, 255, 0.15);

  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}
