@import url("https://fonts.googleapis.com/css?family=Roboto:400");

:root {
  font-family: "Roboto", sans-serif;
  background-color: #030303;
  color: #4a4a4a;

  --clr-blue-1: #7faadd;
  --clr-white-1: #fdfdfd;
  --clr-gray-1: #191b2b;
  --clr-gray-2: #252734;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #535bf2;
}
body,
p {
  margin: 0;
  padding: 0;
}

p {
  color: var(--clr-white-1);
  letter-spacing: 1.2px;
  margin-bottom: 20px;
  font-size: 1rem;
}

h1 {
  color: var(--clr-blue-1);
  font-size: 2.5rem;
}

.headLine {
  color: var(--clr-white-1);
  display: flex;
  justify-content: center;
  margin: 4rem auto 4rem auto;
  font-size: 1.3rem;
}

main {
  background: linear-gradient(to left, #140f31, #301534);

  margin: 1rem;
  border-radius: 3rem 3rem 0 0;

  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 10.5rem);
}

main::-webkit-scrollbar {
  width: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: #5e6069;
  border-radius: 5px;
}

.mainContent {
  padding: 3rem 8% 1rem 8%;
}

@media (max-width: 800px) {
  .headLine {
    display: none; /* Hide the navigation on small screens */
  }

  main {
    max-height: calc(100vh - 2rem);
    border-radius: 0;
    background: #030d31;
  }
  main::-webkit-scrollbar {
    width: 0;
  }

  .mainContent {
    padding: 1.5rem 6% 1.5rem 6%;
  }
  h1 {
    font-size: 1.6rem;
  }
}
